.names-ul{display:block;margin:0;padding:0;margin-top: 20px;}
.names-ul li{
display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #007bff80;
    margin: 3px;
    color: #007bff;
	border-radius: 3px;
	position:relative;
 }
 
.names-ul li .crs-btn {
    position: absolute;
    padding: 2px;
    font-size: 14px;
    right: -8px;
    width: 25px;
    font-weight: bold;
    height: 25px;
    border-radius: 20px;
    line-height: normal;
    color: #fff;
    top: -10px;
    background-color: red;
    border: 1px solid red;
}

form{
	    padding: 15px;
    border: 2px solid #59a9ff;
    border-radius: 4px;
}

form.update-form {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
}

form label{
	font-weight:bold;
}

.maxw-700{
	max-width:700px;
}

.th, .td ,th, td{
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #007bff;
}

.th,th{font-weight:bold;}

.table1{margin:20px 0;}